/* プロフィール全体 */
.profile {
    display: flex;              /* 横並びにする */
    justify-content: center;    /* 中央揃え */
    align-items: center;        /* 縦方向を揃える */
    margin: 2% 10%;                  /* 画像の左右の余白（上下余白は0なのでなし） */
}

.profile-image {
    position: relative;   /* ← これを追加。burstの基準地点になる */
}

.profile-image {
    width: 300px;   /* ← これを追加、数値は仮 */
}

/* 画像部分 */
.profile-image img {
    width: 100%;               /* 画像の幅を固定 */
    height: auto;               /* 縦横比を維持 */
}

.burst {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;   /* クリックとかを邪魔しないようにする */
}

/* テキスト部分 */
.profile-text {
    color: #ffffff;             /* テキストの色 */
    font-size: 1em;           /* テキストのサイズ */
    line-height: 1.6;           /* 行間を広くする */
    text-align: left;             /* 左揃え */
    padding-top: 3%;                /* 上部の余白 */
    padding: 1% 7%;            /* 枠線と文字の間に余白を入れる */
    font-family: 'SourceHanSansJ', sans-serif;    /* フォント */
}

.switch-hint {
    color: #ffffff;
    font-family: 'SourceHanSansJ', sans-serif;    /* フォント */
}

@media (max-width: 768px) {
    .profile {
        flex-direction: column;  /* 縦並びにする */
        justify-content: center;    /* 中央揃え */
        align-items: center;        /* 縦方向を揃える */
        margin: 2% 1%;                  /* 画像の左右の余白（上下余白は0なのでなし） */
    }

    .profile-image img {
        width: 100%;               /* 画像の幅を固定 */
        height: auto;               /* 縦横比を維持 */
        margin: 0 auto; /* 中央揃え */
    }

    .profile-text {
        max-width: 100%;       /* 幅を全体に */
        color: #ffffff;             /* テキストの色 */
        font-size: 1em;           /* テキストのサイズ */
        line-height: 1.6;           /* 行間を広くする */
        text-align: left;             /* 左揃え */
        margin: 0 auto; /* 中央揃え */
        font-family: 'SourceHanSansJ', sans-serif;    /* フォント */
    }
}