h3 {
    font-size: 1em;                 /* フォントサイズ */
    color: #ffffff;               /* 文字色 */
    padding-top: 2%;                /* 上部の余白 */
    padding: 10px 70px;            /* 枠線と文字の間に余白を入れる */
    text-align: left;             /* 中央揃え */
    font-weight: normal; /* 太字を解除 */
}

h2 {
    font-size: 2em;                 /* フォントサイズ */
    color: #ffffff;               /* 文字色 */
    padding-top: 2%;                /* 上部の余白 */
    padding: 10px 70px;            /* 枠線と文字の間に余白を入れる */
    font-weight: normal; /* 太字を解除 */
}

.guide{
    width: 80%;              /* 入力欄の幅 */
    margin: 0 auto; /* 左右の余白を自動設定して中央揃え */
}